*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body{
    background: linear-gradient(to  right, #00FF84, #11bdc0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}


.container-main{
    border: 2px solid white;
    width: 30%;
    height: auto;
    padding: 30px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.insert-text{
    background-color: white;
    width: 100%;
    height: 45%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.list-tasks{
    background: white;
    height: 45%;
    width: 100%;
    border-radius: 8px;
}

#tarefa{
    width: 70%;
    height: 90%;
    border-radius: 7px;
    border: 1px solid rgb(206, 206, 206);
    padding: 10px;
}

#tarefa:focus{
    outline: none;
    border-color: #00FF84;
}

#botaoEnviar{
    width: 25%;
    height: 36px;
    border: none;
    background-color: #5cd69b;
    border-radius: 7px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 0.8rem;
}

#botaoEnviar:hover{
    background-color: #11bdc0;
}

.list-tasks{
    padding: 20px;
    height: auto;
    
}

.list-tasks > ul{
    list-style: none;
}

.list-tasks li{
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    border: 2px solid #11bdc0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.list-tasks li:hover{
    background-color: #5cd69b;
    color: white;
    cursor: pointer;
}

.list-tasks img{
    width: 30px;
}

.botaoExcluir{
    background: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
}

.botaoExcluir:hover{
background-color: red;}

.concluida{
    text-decoration: line-through;
}

.container-tasks{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}


@media (min-width: 360px) and (max-width:1024px){

    body{
        align-items: start;
        margin-top: 30px;
    }

    .container-main{
        width: 90%;
    }

    #botaoEnviar{
        font-size: 0.6rem;
    }

 
    .list-tasks li{
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    border: 2px solid #11bdc0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}
 .list-tasks li:hover{
    background-color: #5cd69b;
    color: white;
    cursor: pointer;
}

.list-tasks img{
    width: 30px;
}

.botaoExcluir{
    background: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
}

.botaoExcluir:hover{
background-color: red;}


}
